/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

label {
  display: block;
}

#search-bar {
  display: inline-block
}

#add-todo-button {
  float: right;
}

#todo-list {
  margin: 50px auto;
  width: 600px;
  font-size: large;
}

.todo-col {
  float: left;
  width: 80%;
}

.category-col {
  float: right;
  width: 20%;
  text-align: center;
}

.todo-list-header {
  display: flex;
  border: 1px solid;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.todo-entry {
  border: 1px solid;
}

.todo-summary {
  display: flex;
  padding: 10px;
}

.todo-full {
  padding: 5px 10px;
}

.todo-buttons {
  overflow: auto;
  padding: 10px;
}

.edit-todo-button {
  float: right;
  font-size: 18px;
}

.delete-todo-button {
  float: right;
  font-size: 18px;
}

input#todo-tags {
  text-transform: lowercase;
}
